{% extends "Emails/email_base.html.twig" %}

{% block body %}
    <p>Bonjour .</p><br>

    <p>Le chantier <strong>{{ chantier.name }}</strong> a été bien créée.</p>
    <p>Budget : <strong>{{ chantier.budget }} FCFA</strong></p>
    <p>Lieu : <strong>{{ chantier.lieu }}</strong></p>
    <p>Description : <span>{{ chantier.description }}</span></p>

    <p>-----------------------</p>
    <p>L'équipe <span style="color: #DC0000;"><b>Aluinox</b></span>.</p>

{% endblock %}