{% extends "Emails/email_base.html.twig" %}

{% block body %}
    <p>Bonjour <strong>{{ user.nom }}</strong>.</p><br>

    <p>Cette Depense a été bien créée.</p>
    <p>Beneficiare : {{ depense.beneficiaire }} </p>
    <p>Nature : {{ depense.nature }} </p>
    <p>Montant : {{ depense.montant }} FCFA</p>
    <p>Type de depense : {{ depense.typeDepense }} </p><br><br>

    <p>-----------------------</p>
    <p>L'équipe <span style="color: #DC0000;"><b>Aluinox</b></span>.</p>

{% endblock %}