{% extends 'base.html.twig' %}

{% block body %}
    <div id="sp">
        <div class="container">
            <div class="row">
                <div class="col-lg-pull-3 pull-left">
                    <a href="{{ path('homepage') }}">
                        <img class="img-responsive" src="{{ asset('assets/img/alu.png') }}" alt="Alu Inox">
                    </a>
                </div>
                <div class="col-lg-pull-3 pull-right">
                    <h2>Portfolio</h2>
                </div>
            </div><!-- row -->
        </div><!-- /container -->
    </div><!-- /portrwrap -->
    <div class="container">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="breadcrumbs-list"><a href="{{ path('homepage') }}">Accueil</a></li>
                <li class="breadcrumbs-list">Portfolio</li>
            </ol>
        </div><!-- col-lg-12 -->
    </div>
    <div class="container">
        <div class="row mt">
            <div class="col-lg-12">
                <h1></h1>
            </div><!-- col-lg-12 -->
            <div class="col-lg-8">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('portfolio_new') }}" class="btn btn-primary">Créer une nouvel realisation </a>
                {% endif %}
            </div><!-- col-lg-8-->
            <div class="col-lg-4 goright">
            </div>
        </div><!-- row -->
    </div>
    <!-- PORTFOLIO SECTION -->

    <div class="row">
        <div class="container">
        {% if portfolios|length <=0 %}
        <h2 align="center">Rien encore</h2>
        {% endif %}
            {% for portfolio in portfolios %}
                <a href="{{ path('portfolio_show', { 'id': portfolio.id }) }}" id="popup">
                    <div class="col-xs-6 col-sm-6 col-lg-3 col-md-4">
                        <img class="img-responsive" src="{{ asset('/portfolio/images/'~portfolio.image) }}" alt="{{ portfolio.name }}"/>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div><!-- row-->

{% endblock %}
