{% extends 'base.html.twig' %}

{% block body %}
    <div id="sp">
        <div class="container">
            <div class="row">
                <div class="col-lg-pull-3 pull-left">
                    <a href="{{ path('homepage') }}">
                        <img class="img-responsive" src="{{ asset('assets/img/alu.png') }}" alt="Alu Inox">
                    </a>
                </div>
                <div class="col-lg-pull-3 pull-right">
                    <h2>Portfolio creation</h2>
                </div>
            </div><!-- row -->
        </div><!-- /container -->
    </div><!-- /portrwrap -->
    <br>

    <div class="container">
        <div class="row mt">
            <div class="col-lg-12 chart hidden-sm hidden-xs">
                <div class="form-group">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                    <div class="">
                        <div class="form-group">
                            <div class="col-md-12">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control','placeholder':'Nom de la realisation'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                {{ form_widget(form.description, {'attr': {'class': 'form-control','placeholder':'Description'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                {{ form_widget(form.images_files, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-lg-offset-3 col-lg-6">
                                <a class="btn btn-default" href="{{ path('portfolio_index') }}"><i class="fa fa-angle-left" aria-hidden="true"></i> Retour</a>
                                <button type="submit" class="btn btn-primary">Enregistrer <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
