{% extends 'base.html.twig' %}

{% block body %}
    <div id="sp">
        <div class="container">
            <div class="row">
                <div class="col-lg-pull-3 pull-left">
                    <a href="{{ path('homepage') }}">
                        <img class="img-responsive" src="{{ asset('assets/img/alu.png') }}" alt="Alu Inox">
                    </a>
                </div>
                <div class="col-lg-pull-3 pull-right">
                    <h2>Nos réalisations</h2>
                </div>
            </div><!-- row -->
        </div><!-- /container -->
    </div><!-- /portrwrap -->
    <div class="container">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="breadcrumbs-list"><a href="{{ path('homepage') }}">Accueil</a></li>
                <li class="breadcrumbs-list"><a href="{{ path('portfolio_index') }}">Portfolio</a></li>
                <li class="breadcrumbs-list">{{ portfolio.name }}</li>
            </ol>
        </div><!-- col-lg-12 -->
    </div>
  <div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4">Nom de la réalisation :
            <small>{{ portfolio.name }}</small>
        </h1>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-fluid img-responsive" src="{{ asset('/portfolio/images/'~portfolio.image) }}" alt="{{ portfolio.name }}">
            </div>

            <div class="col-md-4">
                <h3 class="my-3">Description</h3>
                <p>{{ portfolio.description }}</p>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div>
                    <a class="btn btn-primary" href="{{ path('portfolio_index') }}">Retour</a>
                    <a class="btn btn-green" href="{{ path('portfolio_edit', { 'id': portfolio.id }) }}">Edit</a>
                </div>
                {% endif %}
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row
        <h3 class="my-4">Related Projects</h3>

        <div class="row">

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
        -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}
