{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
    <h1>Liste des Chantiers</h1>
    <div class="actions">
        <a href="{{ path('chantier_new') }}" class="btn btn-green"><i class="fa fa-plus-circle" aria-hidden="true"> Nouveau chantier</i></a>
    </div>
    <br>
        <!-- BLOG POSTS -->
        <div class="container">
            <div class="row mt">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumbs-list">Chantiers</li>
                    </ol>
                </div><!-- col-lg-12 -->
                <div class="col-lg-8">
                </div><!-- col-lg-8-->
                <div class="col-lg-4 goright">
                    <p><a href="{{ path('all_chantier') }}"><i class="fa fa-angle-right"></i>Tout affcicher</a></p>
                </div>
            </div><!-- row -->

            <div class="row mt">
                {% if chantiers|length <= 0 %}
                <h2 align="center">Pas encore de chantier créer</h2>
                {% endif %}
                {% for chantier in chantiers %}

                    <a href="{{ path('chantier_show', { 'id': chantier.id }) }}">
                        <div class="col-lg-4">
                            {% if chantier.image%}
                            <img class="img-responsive" src="{{ asset('/telecharger/images/'~chantier.image) }}" alt="Alu inox">
                            {% else %}
                            <img class="img-responsive" src="{{ asset('/telecharger/images/construction.jpg') }}" alt="Alu inox">
                            {% endif %}
                            <h3><a href="{{ path('chantier_show', { 'id': chantier.id }) }}">{{ chantier.name }}</a></h3>
                            <div class="inf">
                                <p>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> <strong> Lieu:</strong> {{ chantier.lieu }}<br>
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i> <strong> Creer le:</strong> {% if chantier.dateDebut %}{{ chantier.dateDebut|date('d-m-Y') }}{% endif %}<br>
                                    <strong>Description du chantier :</strong> {{ chantier.description }}
                                </p>
                                <p><a href="{{ path('chantier_show', { 'id': chantier.id }) }}"><i class="fa fa-link"></i> Afficher</a></p>
                            </div>
                        </div>
                    </a>
                {% endfor %}

            </div><!-- row -->
        </div><!-- container -->
</div>
{% endblock %}
