{% extends 'base.html.twig' %}
{% block body %}

    <!-- MAIN PROJECT SECTION -->
    <div id="sp">
        <div class="container">
            <div class="row">
                <div class="col-lg-pull-3 pull-left">
                    <a href="{{ path('homepage') }}">
                        <img class="img-responsive" src="{{ asset('assets/img/alu.png') }}" alt="Alu Inox">
                    </a>
                </div>
                <div class="col-lg-pull-3 pull-right">
                    <h2>Nouveau Chantier</h2>
                </div>
            </div><!-- row -->
        </div><!-- /container -->
    </div><!-- /portrwrap -->
    <div class="container">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="breadcrumbs-list"><a href="{{ path('chantier_index') }}">Chantiers</a></li>
                <li class="breadcrumbs-list">Nouveau</li>
            </ol>
        </div><!-- col-lg-12 -->
    </div>
    <div class="container">
        <!-- CHART IMAGE SECTION -->
        <div id="chartwrap">
            <div class="container">
                <div class="row mt">

                    <div class="col-lg-12 chart hidden-sm hidden-xs">
                        <div class="form-group">
                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                            <div class="">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        {{ form_widget(form.name, {'attr': {'class': 'form-control','placeholder':'Nom du chantier'}}) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_widget(form.description, {'attr': {'class': 'form-control','placeholder':'Déscription'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        {{ form_widget(form.budget, {'attr': {'class': 'form-control','placeholder':'Budget'}}) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_widget(form.lieu, {'attr': {'class': 'form-control','placeholder':'Lieu'}}) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6">
                                        {{ form_widget(form.images_files, {'attr': {'class': 'form-control'}}) }}                                </div>
                                    <div class="col-md-6">
                                        {{ form_widget(form.dateFin) }}
                                    </div>
                                </div>

                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <button type="submit" class="btn btn-primary">Enregistrer <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                            {{ form_rest(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div><!-- /row -->
            </div><!-- /.container -->
        </div><!-- chartwrap -->
    </div>
{% endblock %}
