{% extends 'base.html.twig' %}

{% block body %}
        <!-- MAIN PROJECT SECTION -->
        <div id="sp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-pull-3 pull-left">
                        <a href="{{ path('homepage') }}">
                            <img class="img-responsive" src="{{ asset('assets/img/alu.png') }}" alt="Alu Inox">
                        </a>
                    </div>
                    <div class="col-lg-pull-3 pull-right">
                        <h2>Budget : {{ chantier.budget }} FCFA</h2>
                    </div>

                </div><!-- row -->
            </div><!-- /container -->
        </div><!-- /portrwrap -->

    <div class="container">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="breadcrumbs-list"><a href="{{ path('chantier_index') }}">Chantiers</a></li>
                <li class="breadcrumbs-list"><a href="{{ path('chantier_show',{'id':id}) }}">{{ chantier.name }}</a></li>
                <li class="breadcrumbs-list">Afficher</li>
            </ol>
        </div><!-- col-lg-12 -->
    </div>

    <!-- CLIENT INFORMATION -->
    <div>
        <div class="container">
            <div class="row">
                {% if app.session.flashBag.has('success') %}
                    <div class="col-lg-12">
                        <div class="alert alert-success">
                            {% for msg in app.session.flashBag.get('success') %}
                                {{ msg }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div class="col-lg-4 desc">
                    <h3>Desctription du chantier</h3>
                    <br>
                    <p>{{ chantier.description }}</p>
                </div>

                <div class="col-lg-3 desc">
                    <h3>Resume :</h3>
                    <br>
                    <h5><b>Lieu: </b> {{ chantier.lieu }}</h5>
                    <h5><b>Début chantier :</b> {% if chantier.dateDebut %}{{ chantier.dateDebut|date('d-m-Y') }}{% endif %}</h5>
                    <h5><b>Fin de chantier :</b> {% if chantier.dateFin %}{{ chantier.dateFin|date('d-m-Y') }}{% endif %}</h5>

                </div>

                <div class="col-lg-5 desc">
                    <h3>Acompte <span class="badge badge-success pull-right">Vous avez {{ acomptes|length }} acompte</span></h3><br>
                    {% if acomptes|length <= 0 %}
                    <a class="btn btn-green" href="{{ path('acompte_new',{ 'idChantier': chantier.id }) }}"><i class="fa fa-plus"></i>Creer votre {{ acomptes|length +1 }} ier accompte</a>
                    {% else %}
                    <table class="table table-striped table-bordered table-hover" id="sample_1">
                        <thead>
                        <tr>
                            <th>Nature acompte</th>
                            <th>Montant</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for acompte in acomptes  %}
                        <tr>
                            <td>{{ acompte.nature }}</td>
                            <td>{{ acompte.montant }}</td>
                            <td>{% if acompte.dateAcompt %}{{ acompte.dateAcompt|date('d-m-Y') }}{% endif %}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        <tfooter>
                            <tr>
                                <td><a class="btn btn-green" href="{{ path('acompte_new',{ 'idChantier': chantier.id }) }}"><i class="fa fa-plus"></i>Creer votre {{ acomptes|length +1 }} ème accompte</a></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tfooter>
                    </table>
                    {% endif %}
                </div>
            </div><!-- row -->
            <div class="spacer"></div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-2">
                    {% if chantier.active == false %}
                        <a class="btn btn-default disabled" href="#"><i class="fa fa-plus"></i> Ajouter depense</a>
                    {% elseif chantier.active == true %}
                        <a class="btn btn-primary" href="{{ path('depense_new',{ 'idChantier': chantier.id }) }}"><i class="fa fa-plus"></i> Ajouter depense</a>
                    {% endif %}
                    <a class="btn btn-default" href="{{ path('depense_chantier_show', { 'id': chantier.id }) }}"><i class="fa fa-eye"></i> Afficher les depenses</a>
                    <a class="btn btn-green" href="{{ path('chantier_edit',{ 'id': chantier.id }) }}"><i class="fa fa-edit"></i> Modifier</a>

                </div>
            </div>
        </div><!-- container -->

    </div><!-- dg -->

{% endblock %}
