{% extends 'base.html.twig' %}
{% block stylesheet %}
    <link href="{{ asset('../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="{{ asset('../assets/global/plugins/datatables/datatables.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="{{ asset('../assets/global/css/components.min.css') }}" rel="stylesheet" id="style_components" type="text/css" />
    <link href="{{ asset('../assets/global/css/plugins.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="{{ asset('../assets/layouts/layout3/css/layout.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('../assets/layouts/layout3/css/themes/default.min.css') }}" rel="stylesheet" type="text/css" id="style_color" />
    <link href="{{ asset('../assets/layouts/layout3/css/custom.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
        <!-- MAIN PROJECT SECTION -->
        <div id="sp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-pull-3 pull-left">
                        <a href="{{ path('homepage') }}">
                            <img class="img-responsive" src="{{ asset('assets/img/alu.png') }}" alt="Alu Inox">
                        </a>
                    </div>
                    <div class="col-lg-pull-3 pull-right">
                        <h2>Liste des depenses</h2>
                    </div>
                </div><!-- row -->
            </div><!-- /container -->
        </div><!-- /portrwrap -->
    <div class="container">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="breadcrumbs-list"><a href="{{ path('chantier_index') }}">Chantiers</a></li>
                <li class="breadcrumbs-list"><a href="{{ path('chantier_show',{'id':id}) }}">{{ name }}</a></li>
                <li class="breadcrumbs-list">Liste dépenses</li>
            </ol>
        </div><!-- col-lg-12 -->
    </div>
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light ">
            <div class="portlet-body">
                {% if app.session.flashBag.has('success') %}
                    <div class="col-lg-12">
                        <div class="alert alert-success">
                            {% for msg in app.session.flashBag.get('success') %}
                                {{ msg }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <table class="table table-striped table-bordered table-hover" id="sample_1">
                    <thead>
                    <tr>
                        <th data-field="nature" data-align="center" data-sortable="true">Nature</th>
                        <th data-field="montant" data-sortable="true" data-sortable="true">Montant</th>
                        <th data-field="date" data-align="center" data-sortable="true">Date de création</th>
                        <th data-field="description" data-align="center" data-sortable="true">Description</th>
                        <th data-field="beneficiaire" data-align="center" data-sortable="true">Beneficiaire</th>
                        <th data-field="beneficiaire" data-align="center" data-sortable="true">Type de depense</th>
                        <th data-field="action" data-align="center" >Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for depense in depenses %}
                        <tr>
                            {#<td><a href="{{ path('depense_show', { 'id': depense.id }) }}">{{ depense.id }}</a></td>#}
                            <td>{{ depense.nature }}</td>
                            <td>{{ depense.montant }} FCFA</td>
                            <td>{% if depense.createAt %}{{ depense.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{{ depense.description }}</td>
                            <td>{{ depense.beneficiaire }}</td>
                            <td>{{ depense.typeDepense }}</td>
                            <td >
                                <div class="actions">
                                    <a class="btn btn-circle btn-icon-only btn-default"  href="{{ path('depense_show', { 'id': depense.id }) }}"> <i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a class="btn btn-circle btn-icon-only btn-default"  href="{{ path('depense_edit', { 'id': depense.id }) }}"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfooter >
                        <tr >
                        <td style="color: red;">TOTAL</td>
                            <td style="background-color:red;">
                                {% for Total in Totals %}
                                    {{ Total.montantTotal }} FCFA
                                {% endfor %}
                            </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>
                        <tr >
                        <td style="color: red;">BUDGET RESTANT</td>
                        <td style="background-color:red;">
                            {{ budget }} FCFA
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>
                    </tfooter>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
    {% block javascript %}
        <script src="{{ asset('../assets/global/plugins/jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('../assets/global/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('../assets/global/plugins/js.cookie.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('../assets/global/plugins/jquery.blockui.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="{{ asset('../assets/global/scripts/datatable.js') }}" type="text/javascript"></script>
        <script src="{{ asset('../assets/global/plugins/datatables/datatables.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js') }}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{{ asset('../assets/global/scripts/app.min.js') }}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{{ asset('../assets/pages/scripts/table-datatables-scroller.min.js') }}" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="{{ asset('../assets/layouts/layout3/scripts/layout.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('../assets/layouts/layout3/scripts/demo.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('../assets/layouts/global/scripts/quick-sidebar.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('../assets/layouts/global/scripts/quick-nav.min.js') }}" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
    {% endblock %}
{% endblock %}

