{% extends 'base.html.twig' %}
{% block body %}
    <!-- MAIN PROJECT SECTION -->
    <div id="sp">
        <div class="container">
            <div class="row">
                <div class="col-lg-pull-3 pull-left">
                    <a href="{{ path('homepage') }}">
                        <img class="img-responsive" src="{{ asset('assets/img/alu.png') }}" alt="Alu Inox">
                    </a>
                </div>
                <div class="col-lg-pull-3 pull-right">
                    <h2>Modifier : {{ depense.nature }}</h2>
                </div>
            </div><!-- row -->
        </div><!-- /container -->
    </div><!-- /portrwrap -->
    <div class="container">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="breadcrumbs-list"><a href="{{ path('chantier_index') }}">Chantiers</a></li>
                <li class="breadcrumbs-list"><a href="{{ path('chantier_show',{'id':id}) }}">{{ name }}</a></li>
                <li class="breadcrumbs-list"><a href="{{ path('depense_chantier_show',{'id':id}) }}">Liste dépenses</a></li>
                <li class="breadcrumbs-list">Modifier</li>
            </ol>
        </div><!-- col-lg-12 -->
    </div>
    <div class="container">
        <!-- CHART IMAGE SECTION -->
        <div id="chartwrap">
            <div class="container">
                <div class="row mt">
                    <div div="form-group">
                        {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}

                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div class="">
                                        {{ form_widget(edit_form.nature, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="">
                                        {{ form_widget(edit_form.montant, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div>
                                        {{ form_widget(edit_form.description, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div>
                                        {{ form_widget(edit_form.beneficiaire, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        {{ form_widget(edit_form.typeDepense, {'attr': {'class': ''}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-offset-3 col-lg-6">
                                <a class="btn btn-default" href="{{ path('chantier_index') }}"><i class="fa fa-angle-left" aria-hidden="true"></i> Retour</a>
                                <button type="submit" class="btn btn-primary">Enregistrer <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        
                        {{ form_end(edit_form) }}
                    </div>
                    <br>
                </div><!-- /row -->
            </div><!-- /.container -->
        </div><!-- chartwrap -->
    </div>


{% endblock %}

