
{% extends 'base.html.twig' %}
{% block body %}
    <!-- MAIN PROJECT SECTION -->
    <div id="sp">
        <div class="container">
            <div class="row">
                <div class="col-lg-pull-3 pull-left">
                    <a href="{{ path('homepage') }}">
                        <img class="img-responsive" src="{{ asset('assets/img/alu.png') }}" alt="Alu Inox">
                    </a>
                </div>
                <div class="col-lg-pull-3 pull-right">
                    <h2>Nouvelle depense</h2>
                </div>
            </div><!-- row -->
        </div><!-- /container -->
    </div><!-- /portrwrap -->
    <div class="container">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="breadcrumbs-list"><a href="{{ path('chantier_index') }}">Chantiers</a></li>
                <li class="breadcrumbs-list"><a href="{{ path('chantier_show',{'id':id}) }}">{{ name }}</a></li>
                <li class="breadcrumbs-list">Nouvelle depense</li>
            </ol>
        </div><!-- col-lg-12 -->
    </div>
    <div class="container">
        <!-- CHART IMAGE SECTION -->
        <div id="chartwrap">
            <div class="container">
                <div class="row mt">
                    <div class="col-lg-12 chart">
                        <div class="form-group">
                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                            <div class="">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{ form_label(form.nature) }}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.nature, {'attr': {'class': 'form-control','placeholder':'Nature'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{ form_label(form.montant) }}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.montant, {'attr': {'class': 'form-control','placeholder':'Montant'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{ form_label(form.beneficiaire) }}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.beneficiaire, {'attr': {'class': 'form-control','placeholder':'Beneficiare'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{ form_label(form.description) }}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.description, {'attr': {'class': 'form-control','placeholder':'Description'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{ form_label(form.typeDepense) }}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.typeDepense) }}
                                    </div>
                                </div>


                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <button type="submit" class="btn btn-primary">Enregistrer <i class="fa fa-floppy-o" aria-hidden="true"></i></button>

                                    </div>
                                </div>
                            </div>
                            {{ form_rest(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div><!-- /row -->
            </div><!-- /.container -->
        </div><!-- chartwrap -->
    </div>
{% endblock %}
