{% extends 'base.html.twig' %}
{% block body %}
    <!-- MAIN PROJECT SECTION -->
    <div id="sp">
        <div class="container">
            <div class="row">
                <div class="col-lg-pull-3 pull-left">
                    <a href="{{ path('homepage') }}">
                        <img class="img-responsive" src="{{ asset('assets/img/alu.png') }}" alt="Alu Inox">
                    </a>
                </div>
                <div class="col-lg-pull-3 pull-right">
                    <h2>Nature de dépense: {{ depense.nature }}</h2>
                </div>
            </div><!-- row -->
        </div><!-- /container -->
    </div><!-- /portrwrap -->
    <div class="container">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="breadcrumbs-list"><a href="{{ path('chantier_index') }}">Chantiers</a></li>
                <li class="breadcrumbs-list"><a href="{{ path('chantier_show',{'id':id}) }}">{{ name }}</a></li>
                <li class="breadcrumbs-list"><a href="{{ path('depense_chantier_show',{'id':id}) }}">Liste dépenses</a></li>
                <li class="breadcrumbs-list">Afficher</li>
            </ol>
        </div><!-- col-lg-12 -->
    </div>
    <div class="container">
        <!-- CHART IMAGE SECTION -->
        <div id="chartwrap">
            <div class="container">
                <div class="row mt">
                    <div class="col-lg-8 chart hidden-sm hidden-xs">
                        <p>Date création : <strong>{{ depense.createAt|date('d-m-Y') }}</strong> </p>
                        <p>Bénificiaire : <strong>{{ depense.beneficiaire }}</strong> </p>
                        <p>Déscriptions : {{ depense.description }}</p>
                    </div><!-- col-lg-8 -->

                    <div class="col-lg-4">
                        <p>Montant: <strong>{{ depense.montant }} FCFA</strong></p>
                        <p>Beneficiare: <strong>{{ depense.beneficiaire }}</strong></p>
                        <p>Type de depense : <strong>{{ depense.typeDepense }}</strong></p>
                    </div><!-- col-lg-4 -->
                </div><!-- /row -->
            </div><!-- /.container -->
        </div><!-- chartwrap -->
        <div class="row">
            <div class="container-fluid">
                <div class="col-lg-6 col-lg-offset-3">
                    {{ form_start(delete_form) }}
                    <a class="btn btn-default btn-sm pull" href="{{ path('chantier_index') }}">
                        <i class="fa fa-angle-left" aria-hidden="true"></i> Retour</a>
                    <a href="{{ path('depense_edit', { 'id': depense.id }) }}" class="btn btn-green btn-sm pull">
                        <i class="fa fa-edit"></i> Modifier </a>
                    <button type="submit" class="btn btn-danger btn-sm pull">Supprimer <i class="fa fa-times" aria-hidden="true"></i></button>

                    {{ form_end(delete_form) }}
                    <br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}