{% extends 'base.html.twig' %}

{% block body %}
    <div class="containair">
        <div class="alert alert-danger">
            {{ error }}
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('services_new') }}">Create a new service</a>
        </li>
    </ul>
{% endblock %}
