{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/DataTables/css/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">
{% endblock %}
{% block body %}

    <div class="container">
        <h1>Liste des services</h1>
        <div class="actions">
            <a href="{{ path('services_new') }}" class="btn btn-green"><i class="fa fa-plus-circle" aria-hidden="true"> Nouvelle service</i></a>
        </div>
        <br>

    </div>
        {% if app.session.flashBag.has('success') %}
            <div class="col-md-12">
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light ">
            <div class="portlet-body">
                {% if app.session.flashBag.has('success') %}
                    <div class="col-lg-12">
                        <div class="alert alert-success">
                            {% for msg in app.session.flashBag.get('success') %}
                                {{ msg }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th data-field="nature" data-align="center" data-sortable="true">Nature ceintrage</th>
                            <th data-field="client" data-sortable="true" data-sortable="true">Client</th>
                            <th data-field="telephone" data-align="center" data-sortable="true">Téléphone</th>
                            <th data-field="montant" data-align="center" data-sortable="true">Montant</th>
                            <th data-field="avance" data-align="center" data-sortable="true">Avance</th>
                            <th data-field="reste" data-align="center" data-sortable="true">Reste</th>
                            <th data-field="date" data-align="center" data-sortable="true">Date de création</th>
                            <th data-field="action" data-align="center" >Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for service in services %}
                        <tr>
                            <td>{{ service.natureCeintrage }}</td>
                            <td>{{ service.client }}</td>
                            <td>{{ service.telephone }}</td>
                            <td>{{ service.montant }}</td>
                            <td>{{ service.montantAvance }}</td>
                            <td>{{ service.montantRestant }}</td>
                            <td>{% if service.dateCreation %}{{ service.dateCreation|date('d-m-Y') }}{% endif %}</td>
                            <td>
                                <a class="btn btn-circle btn-icon-only btn-default" href="{{ path('services_show', { 'id': service.id }) }}"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                <a class="btn btn-circle btn-icon-only btn-default" href="{{ path('services_edit', { 'id': service.id }) }}"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
    {% block javascripts %}

        <script>
            $(document).ready(function() {
                $('#example').DataTable( {
                    dom: 'Bfrtip',
                    buttons: [
                        'excel', 'pdf'
                    ]
                } );
            } );
        </script>
        <script src="{{ asset('assets/DataTables/js/jquery.dataTables.js') }}"></script>
        <script src="{{ asset('assets/DataTables/js/dataTables.bootstrap.js') }}"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    {% endblock %}
{% endblock %}

