{% extends 'base.html.twig' %}

{% block body %}
    <h1>Acomptes</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nature</th>
                <th>Montant</th>
                <th>Dateacompt</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for acompte in acomptes %}
            <tr>
                <td><a href="{{ path('acompte_show', { 'id': acompte.id }) }}">{{ acompte.id }}</a></td>
                <td>{{ acompte.nature }}</td>
                <td>{{ acompte.montant }}</td>
                <td>{% if acompte.dateAcompt %}{{ acompte.dateAcompt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('acompte_show', { 'id': acompte.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('acompte_edit', { 'id': acompte.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('acompte_new') }}">Create a new acompte</a>
        </li>
    </ul>
{% endblock %}
