{% extends 'base.html.twig' %}

{% block body %}
    <!-- MAIN PROJECT SECTION -->
    <div id="sp">
        <div class="container">
            <div class="row">
                <div class="col-lg-pull-3 pull-left">
                    <a href="{{ path('homepage') }}">
                        <img class="img-responsive" src="{{ asset('assets/img/alu.png') }}" alt="Alu Inox">
                    </a>
                </div>
                <div class="col-lg-pull-3 pull-right">
                    <h2>Acompte {{ acompte.nature }} du chantier </h2>
                </div>
            </div><!-- row -->
        </div><!-- /container -->
    </div><!-- /portrwrap -->
    <!-- CLIENT INFORMATION -->
    <div id="lg">
        <div class="container">
            <div class="col-lg-12 desc">
                <h3>Informations de l'acompte créer :</h3>
                <br>
                <h5><b>Nature: </b> {{ acompte.nature }}</h5>
                <h5><b>Nature: </b> {{ acompte.montant }} FCFA</h5>
                <h5><b>Date de creation :</b> {% if acompte.dateAcompt %}{{ acompte.dateAcompt|date('Y-m-d H:i:s') }}{% endif %}</h5>
            </div>

            <div class="spacer"></div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-2">
                    <a class="btn btn-warning" href="{{ path('acompte_edit',{'id' :acompte.id}) }}"><i class="fa fa-edit"></i> Modifier</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
