{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/DataTables/css/dataTables.bootstrap.css') }}">
{% endblock %}
{% block body %}

    <h1>Contacts list</h1>

<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Message</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Message</th>
    </tr>
    </tfoot>
    <tbody>
    {% for contact in contacts %}
        <tr>

            <td>{{ contact.nom }}</td>
            <td>{{ contact.prenom }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.telephone }}</td>
            <td>{{ contact.message }}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>
    <script src="{{ asset('assets/DataTables/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('assets/DataTables/js/dataTables.bootstrap.js') }}"></script>
{% endblock %}
