{% extends 'base.html.twig' %}

{% block body %}
    <div id="sp">
        <div class="container">
            <div class="row">
                <div class="col-lg-pull-3 pull-left">
                    <a href="{{ path('homepage') }}">
                        <img class="img-responsive" src="{{ asset('assets/img/alu.png') }}" alt="Alu Inox">
                    </a>
                </div>
                <div class="col-lg-pull-3 pull-right">
                    <h2>Contactez nous maintenant</h2>
                </div>
            </div><!-- row -->
        </div><!-- /container -->
    </div><!-- /portrwrap -->
    <div class="container">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="breadcrumbs-list"><a href="{{ path('homepage') }}">Accueil</a></li>
                <li class="breadcrumbs-list">Contact</li>
            </ol>
        </div><!-- col-lg-12 -->
    </div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% if app.session.flashBag.has('success') %}
                <div class="col-lg-12">
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="well well-sm">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nom">
                                Nom</label>
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control','placeholder':'Nom'}}) }}
                        </div>
                        <div class="form-group">
                            <label for="prenom">
                                Prénom</label>
                            {{ form_widget(form.prenom, {'attr': {'class': 'form-control','placeholder':'Prénom'}}) }}
                        </div>
                        <div class="form-group">
                            <label for="telephone">
                                Téléphone</label>
                            {{ form_widget(form.telephone, {'attr': {'class': 'form-control','placeholder':'Téléphone'}}) }}
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email </label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                {{ form_widget(form.email, {'attr': {'class': 'form-control','placeholder':'Email'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Message</label>
                            {{ form_widget(form.message, {'attr': {'class': 'form-control','placeholder':'Message','rows':'13','cols':'25'}}) }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                            Envoyer</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>

        <div class="col-md-4">
            <a href="{{ path('homepage') }}">
                <img class="img-responsive" src="{{ asset('assets/img/alu.png') }}" alt="Alu Inox">
            </a>

        </div>
    </div>
</div>
{% endblock %}
